h1 {
    text-align: center;
    font-size: 4rem;
    margin: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-family: 'Cash Currency', sans-serif;
    font-size: 1rem;
}

button, input, select {
    font-size: 1rem;
}